body{
    text-align: center;
}
h1{
    height: 55px;
    text-shadow: 2px 2px 2px rgb(68, 66, 66);
}
.quadrado{
    margin-top: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #eee;
    display: inline-block;
    padding: 2px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}
.jogador, .vencedor{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

button{
    margin-top: 10px;
}

#jogador-selecionado{
    font-size: 20px;
    font-weight: bold;
}
#vencedor-selecionado{
    font-size: 20px;
    font-weight: bold;
}

.rodapé{
    background: rgb(70, 70, 70);
    color: black;
    height: 20px;
    width: 100%;
    margin-top: 120px;
}